lexicaldecision/frequentist_analysis/model_diagnostics/results/lexicaldecision_allFit_convergence.rds
semanticdecision/bayesian_analysis/posterior_predictive_checks/results/semanticdecision_posteriorpredictivecheck_diffusepriors_exgaussian.rds
semanticdecision/bayesian_analysis/posterior_predictive_checks/results/semanticdecision_posteriorpredictivecheck_informativepriors_exgaussian.rds
semanticdecision/bayesian_analysis/posterior_predictive_checks/results/semanticdecision_posteriorpredictivecheck_weaklyinformativepriors_exgaussian.rds
semanticdecision/data/primary_datasets/Wingfield_Connell_2019_semanticdecision.csv
semanticdecision/frequentist_analysis/model_diagnostics/results/semanticdecision_allFit_convergence.rds
semanticpriming/data/final_dataset/semanticpriming.csv
semanticpriming/data/primary_datasets/Hutchison_etal_2013_semanticpriming_lexicaldecision.csv
semanticpriming/data/subset_with_visualsimilarity/semanticpriming_with_visualsimilarity.csv
semanticpriming/frequentist_analysis/results/semanticpriming_lmerTest.rds
semanticpriming/power_analysis/reduced_randomeffects_model/results/semanticpriming_lmerTest.rds
.Rproj.user
